@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;

@layer base {
    html {
        scroll-behavior: smooth;
        font-size: 62.5%;
    }

    html,
    body,
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Poppins;
    }

    html {
        scroll-behaviour: smooth;
    }

    body {
        min-height: 100vh;
        width: 100%;
        font-weight: normal;
        font-size: 1.4rem;
    }
        .addHeight {
            min-height: 11rem;
        }
        li a{
            display:block;
        }
}

@tailwind components;
@tailwind utilities;